.skb {
	border: 2px solid rgb(238, 236, 255); border-image: none; left: 0px; top: 0px; font-family: "ו",Georgia,"Times New Roman",Times,serif; position: absolute; z-index: 2000; -moz-user-select: none; -khtml-user-select: none; -webkit-user-select: ignore;
}
.skbhead {
	color: rgb(51, 51, 51); background-color: rgb(204, 204, 204);
}
.skbbody {
	text-align: center; font-size: 20px; vertical-align: middle;
}
.skbbout {
	color: rgb(51, 51, 51); background-color: rgb(107, 198, 198);
}
.skbbover {
	color: rgb(255, 255, 255); background-color: rgb(10, 150, 166);
}
